.main {
    background: linear-gradient(lavender, khaki);
    width: 100%;
    height: 100%;
    margin-top: 60px;
    text-align: center;
    float: left;
}

.main h3 {
    font-size: 60px;
    margin-bottom: 30px;
}
    
.kiri {
    float: left;
    margin: 30px;
    display: inline;
   
}

.img-responsive {
    max-width: 100%; 
    display:block; 
    height: auto;
}


.cv {
    background-color:rgb(230, 233, 235);
    width: 100%;
    height: 100%;
    margin-top: 60px;
    text-align: center;
    float: left;
}
.cv h3 {
    font-size: 60px;
    margin-bottom: 30px;
}

.cv img {
    margin : 10px;
}
